<!DOCTYPE html>
<html>
  <head>
    <title>FinancePro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>

  <body>
    <header>
      <div class="container">

        <div class="head-logo">
          <%=link_to("/")do%>
          <img src="/site_image/logo2.png">
          <%end%>
        </div>
        <span class="fa fa-bars menu-icon"></span>
        <div class="header-right">
          <%=link_to("ABOUT","#")%>
          <%=link_to("学習イメージ・料金","#")%>
          <%=link_to("ログイン","/login")%>
          <%=link_to("新規登録","/signup")%>
         </div>


      </div>
    </header>






    <%= yield %>
    <footer>
      <div class="container">
        <%=link_to("/")do%>
          <img class="footer-right" src="/site_image/logo2.png">
        <%end%>

        <div class="footer-left">
          <%=link_to("企業情報","#")%>
          <%=link_to("問い合わせ","#")%>
        </div>
      </div>
    </footer>

  </body>
</html>
